*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: rgb(212, 212, 212);
    height: 70vh;
    width: 25vw;
    display: flex;
    margin-top: 8rem;
    border-radius: 2rem;


}
.main{
    display: flex;
    justify-content: center;
    align-items: center;


}
.input{
    padding-left: 22%;
    padding-top: 5%;
    background-color: aquamarine;
    height: 13%;
    width: 100%;
    border-radius: 2rem;
    display: flex;
}
input{
    border: 0cap;
    padding-left: 40px;
    font-size: 20px;
    
}