@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Young Serif', serif;
}

.pacifico-regular {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-style: normal;
}

.young-serif-regular {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-style: normal;
}
body{  
    width: 100vw;
    height: 100vh;
    background: rgb(240,239,243);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    position: fixed;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 0 2px white,
    0.2em 0.2em 1em rgba(64, 64, 64, 0.6);
    padding: 30px;
    overflow-y: scroll;
    margin-right: 30%;
    margin-top: 10%;
    z-index: 1;

    
}
.main::-webkit-scrollbar { 
    display: none; 
}
 .main form{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
 .main form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    padding: 7px 12px;
 }
 .main form i{
    padding-left: 10px;
 }
 .product_list{
    padding-top: 15px ;
 }
 .product{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
 }
 .product img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
 }
 .product .product_details{
    padding-left: 20px;
 }
.product .product_details h2{
    font-size: 14px;
}
.product .product_details h3{
    font-size: 10px;
}






.wrapper{
    width: 100%;
    height: 100%;
}
.nav{
    padding: 30px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.nav .left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.nav .left h3{
    font-weight: 400;
    color: #18022d;
    
}
.nav .left h2{
    font-weight: 700;
    color: #188ed8;
    
}
.nav .right h2{
    font-weight: 600;
    color: #18022d;
    
}
.nav .right p{
    font-weight: 700;
    font-size: 14px;
    color: #188ed8;
}
.intro{
    width: 40%;
    font-size: 20px;
    margin-left: 50%;
    margin-top: 10%;
    
}
.intro .hero{
    padding: 60px 50px 40px 20px;
    
    transform: translateY(100%);
}
.intro .hero .lefthero{
    width: 80%;
    padding-top: 10px ;
    padding-left: 50px;
    
}

.intro .hero .lefthero h1{
    font-size: 55px;
    font-weight: 600;
    
}
.intro .hero .lefthero p{
    line-height: 30px;
    font-size: 18px;
}
.slider{
    position:fixed;
    top:0;
    left:0;
    background-color: #18022d;
    width: 100%;
    height: 100%;
    transform: translateY(50%);
}
#f1{
    color: #054a75;
}
